<!DOCTYPE html>
<html>
  <head>
    <title>Free Tamil Ebooks - Send to Kindle</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <style type="text/css">
      body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
      .success-template {padding: 40px 15px;text-align: center;}
      .success-actions {margin-top:15px;margin-bottom:15px;}
      .success-actions .btn { margin-right:10px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="success-template">
            <h1>
              Hurray!
            </h1>
            <h2>
              Your Json Generator API is created successfully.
            </h2>
            <div class="success-details">
              You can access your API using the following <strong><a href={{ data|safe }} target="_blank">{{ data|safe }}</a></strong>.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>View on GitHub. <a href="https://github.com/Dineshkarthik/json-generator-api" target="_blank"><i class="fa fa-github"></i></a></p>
    </div>
  </body>
</html>